<div class="row">
    <div class="educacion font1">
        <h1>Educación</h1>
    </div>
    <div class="instituciones font2">>
        <ul>
            <li>
                <h1>Bachiller en Ciencias Sociales</h1><h2>Colegio San Juan </h2><h6>  | </h6><h3>2011 - 2016</h3>
            </li>
            <p>Finalizado</p>
        </ul>
        <ul>
            <li>
                <h1>Tecnicatura en Informatica</h1><h2>Universidad Nacional General Sarmiento </h2><h6>  | </h6><h3> 2022 - 2023 </h3>
            </li>
            <p>En curso</p>
        </ul>
        <ul>
            <li>
                <h1>Curso Full stack developer Jr</h1><h2>Argentina programa 4ta edicion </h2><h6>  | </h6><h3> 2022 - 2023 </h3>
            </li>
            <p>En curso</p>
        </ul>
    </div>
</div>

