.row {
    background-color: #dec8fb;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.educacion h1 {
    color: #563383;
}

.educ {
    padding-left: 10%;
    padding-right: 10%;
}

.educ h5 {
    font-weight: bolder;
    color: #563383;

}

.add button{
    font-weight: bolder;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}


.table td{
font-weight: bolder;
padding-top: 2%;
}



@media (min-width:576px) {
    .educacion h1 {
        font-size: 2vw;
    }
}

@media (max-width:575px) {
    .educacion h1 {
        font-size: 8vw,
    }
}