.header{
    background-color: #C59DF9; 
    min-height: 100px;
}


@media (min-width:576px) {
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.logo{
    width: 200px;
    display: flex;
    }

.redes {
    padding-right: 2%;
}
.redes img{
    padding: 1%;
    width: 60px;
    }
}

@media (max-width:575px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    .logo{
        width: 150px;
        display: flex;
        }
    
    .redes{
        padding-right: 1%;
    }
    .redes img{
        width: 40px;
        }
}
