<div class="header">
    <div class="logo">
        <img src="../../../assets/APLogo.png" class="img-fluid" id="aplogo">
    </div>
    <div class="redes">
        <a href="https://www.linkedin.com/in/biancapolcaro026/"><img src="../../../assets/linkedin.png" class="img-fluid" alt=""></a>
        <a href="https://github.com/biann026"><img src="../../../assets/github.png" class="img-fluid" alt=""></a>
        <a href="https://www.instagram.com/bianpolcaro/"><img src="../../../assets/instagram.png" class="img-fluid" alt=""></a>
        <a href="https://twitter.com/Biaannc"><img src="../../../assets/twitter.png" class="img-fluid" alt=""></a>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Log In</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Log Out</button>
    </div>
</div>
