<div class="row">
    <div class="experiencia font1">
        <h1>Experiencia laboral</h1>
    </div>
    <div class="trabajos font2">>
        <ul>
            <li>
                <h1>Asesora telefonica para VISA</h1><h2>MERA Solutions </h2><h6>  | </h6><h3>Dic 2017 - Jul 2018</h3>
            </li>
            <p>Atención al cliente para los socios de Visa, desbloqueo de cuenta y cambio de contraseña para la pagina VisaHome, verificación de seguridad.</p>
        </ul>
        <ul>
            <li>
                <h1>Cajera - Atencion al cliente</h1><h2>Maxikiosco </h2><h6>  | </h6><h3>Feb 2019 - Mar 2022</h3>
            </li>
            <p>Atención al cliente, manejo de caja, control y reposición de la mercadería, manejo de sistema y posnet de cargas virtuales.</p>
        </ul>
    </div>
</div>
