<div class="title font1">
    <h1>Hard/Soft Skills</h1>
</div>
<div class="row">
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [percent]="85"
            [radius]="90"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#563383'"
            [innerStrokeColor]="'#dec8fb'"
            [animation]="true" 
            [animationDuration]="1000"
            [title]="'HTML'"
            [showUnits]="false"
            [outerStrokeGradient] = true
            [outerStrokeGradientStopColor] = "'#dec8fb'"
            [clockwise] = "true"></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [percent]="85"
            [radius]="90"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#563383'"
            [innerStrokeColor]="'#dec8fb'"
            [animation]="true" 
            [animationDuration]="1000"
            [title]="'CSS'"
            [showUnits]="false"
            [outerStrokeGradient] = true
            [outerStrokeGradientStopColor] = "'#dec8fb'"
            [clockwise] = "true"></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [percent]="85"
            [radius]="90"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#563383'"
            [innerStrokeColor]="'#dec8fb'"
            [animation]="true" 
            [animationDuration]="1000"
            [title]="'JavaScript'"
            [showUnits]="false"
            [outerStrokeGradient] = true
            [outerStrokeGradientStopColor] = "'#dec8fb'"
            [clockwise] = "true"></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [percent]="85"
            [radius]="90"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#563383'"
            [innerStrokeColor]="'#dec8fb'"
            [animation]="true" 
            [animationDuration]="1000"
            [title]="'Python'"
            [showUnits]="false"
            [outerStrokeGradient] = true
            [outerStrokeGradientStopColor] = "'#dec8fb'"
            [clockwise] = "true"></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [percent]="85"
            [radius]="90"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#563383'"
            [innerStrokeColor]="'#dec8fb'"
            [animation]="true" 
            [title]="'Trabajo Grupal'"
            [animationDuration]="1000"
            [showUnits]="false"
            [outerStrokeGradient] = true
            [outerStrokeGradientStopColor] = "'#dec8fb'"
            [clockwise] = "true"></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [percent]="85"
            [radius]="90"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#563383'"
            [innerStrokeColor]="'#dec8fb'"
            [animation]="true" 
            [animationDuration]="1000"
            [title]="'Comunicación'"
            [showUnits]="false"
            [outerStrokeGradient] = true
            [outerStrokeGradientStopColor] = "'#dec8fb'"
            [clockwise] = "true"></circle-progress>
        </div>
</div>
