<div class="sobreMi font2">
        <div class="person">
            <div>
            <img src="../../../assets/photo.png" clas="img-fluid" id="profilePhoto">
            <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
            <p>Full Stack Developer Jr</p>
            </div>
        </div>
        <div class="about">
        <h1>Sobre mi</h1>
        <p>Tengo 24 años, soy estudiante de informatica y full stack developer jr,
            amo a los gatitos y a Taylor Swift, en mis tiempos libres me gusta
            jugar jueguitos y ver videos.</p>
        </div>
</div>
<div class="fondo"></div>
